[phases.install]
cmds = [
  "python -m venv /opt/venv",
  ". /opt/venv/bin/activate && pip install -U pip setuptools wheel",
  ". /opt/venv/bin/activate && pip install -r requirements-coolify.txt"
]

[start]
cmd = "bash ./start.sh"
