streamlit==1.32.2

numpy==1.24.3
pandas==1.5.3

geopandas==0.12.2
shapely==1.8.5
pyproj==3.4.1
fiona==1.9.4
mapclassify==2.4.3

matplotlib==3.6.0
seaborn==0.12.0
plotly==5.11.0
openpyxl==3.0.10
PyYAML==6.0.1
reportlab==3.6.12
extra-streamlit-components==0.1.56
streamlit-authenticator==0.2.1
streamlit-option-menu==0.3.2
